In [42]:
import pandas as pd
import numpy as np

In [11]:
df =  pd.read_csv('H-1B_Disclosure_Data_FY17.csv')

C:\Anaconda2\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (15,16,17,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
df.drop('Unnamed: 0',inplace=True,axis=1)

In [13]:
df.columns

Index(['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYER_NAME', 'EMPLOYER_BUSINESS_DBA', 'EMPLOYER_ADDRESS',
       'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE',
       'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE',
       'EMPLOYER_PHONE_EXT', 'AGENT_REPRESENTING_EMPLOYER',
       'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE',
       'JOB_TITLE', 'SOC_CODE', 'SOC_NAME', 'NAICS_CODE', 'TOTAL_WORKERS',
       'NEW_EMPLOYMENT', 'CONTINUED_EMPLOYMENT', 'CHANGE_PREVIOUS_EMPLOYMENT',
       'NEW_CONCURRENT_EMPLOYMENT', 'CHANGE_EMPLOYER', 'AMENDED_PETITION',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY',
       'PW_WAGE_LEVEL', 'PW_SOURCE', 'PW_SOURCE_YEAR', 'PW_SOURCE_OTHER',
       'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY',
       'H1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'SUPPORT_H1B', 'LABOR_CON_AGREE',
       'PUBLIC_DISCLOSURE_LOCATION', 'WORKSITE_CITY', 'WORKSITE_COUNTY',
       'WORKSITE_STATE', 'WORKSITE_POSTAL_CODE', 'ORIGINAL_CERT_DATE'],
      dtype='object')

In [14]:
df.groupby('CASE_STATUS').count()

,CASE_NUMBER,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_BUSINESS_DBA,EMPLOYER_ADDRESS,EMPLOYER_CITY,...,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
CASE_STATUS,,,,,,,,,,,,,,,,,,,,,
CERTIFIED,545694,545694,545694,545694,545674,545673,545662,36497,545693,545685,...,534046,534043,214152,211297,0,545690,544783,545694,545686,4
CERTIFIED-WITHDRAWN,49704,49704,49704,49704,49704,49704,49695,4225,49703,49704,...,48910,48910,18181,20161,0,49704,49538,49704,49702,49704
DENIED,8480,8480,8480,8480,8474,8474,8476,1134,8479,8479,...,7608,7608,1551,4402,0,8473,8425,8473,8474,0
WITHDRAWN,20772,20772,20772,20772,20769,20769,20761,1414,20768,20767,...,20344,20344,6592,9115,0,20770,20725,20770,20769,0

In [22]:
df=df[df['VISA_CLASS']=='H-1B']

In [24]:
df.columns

Index(['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYER_NAME', 'EMPLOYER_BUSINESS_DBA', 'EMPLOYER_ADDRESS',
       'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE',
       'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE',
       'EMPLOYER_PHONE_EXT', 'AGENT_REPRESENTING_EMPLOYER',
       'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE',
       'JOB_TITLE', 'SOC_CODE', 'SOC_NAME', 'NAICS_CODE', 'TOTAL_WORKERS',
       'NEW_EMPLOYMENT', 'CONTINUED_EMPLOYMENT', 'CHANGE_PREVIOUS_EMPLOYMENT',
       'NEW_CONCURRENT_EMPLOYMENT', 'CHANGE_EMPLOYER', 'AMENDED_PETITION',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY',
       'PW_WAGE_LEVEL', 'PW_SOURCE', 'PW_SOURCE_YEAR', 'PW_SOURCE_OTHER',
       'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY',
       'H1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'SUPPORT_H1B', 'LABOR_CON_AGREE',
       'PUBLIC_DISCLOSURE_LOCATION', 'WORKSITE_CITY', 'WORKSITE_COUNTY',
       'WORKSITE_STATE', 'WORKSITE_POSTAL_CODE', 'ORIGINAL_CERT_DATE'],
      dtype='object')

In [29]:
df=df[df['EMPLOYER_COUNTRY']=='UNITED STATES OF AMERICA']

In [33]:
df.groupby('EMPLOYER_CITY').count()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_BUSINESS_DBA,EMPLOYER_ADDRESS,...,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
EMPLOYER_CITY,,,,,,,,,,,,,,,,,,,,,
", KENOSHA",1,1,1,1,1,1,1,1,0,1,...,1,1,0,1,0,1,1,1,1,0
", ROCKVILLE CENTER",5,5,5,5,5,5,5,5,0,5,...,5,5,0,0,0,5,5,5,5,0
", WASHINGTON DC",1,1,1,1,1,1,1,1,1,1,...,1,1,0,0,0,1,1,1,1,0
02116,1,1,1,1,1,1,1,1,1,1,...,1,1,0,1,0,1,1,1,1,0
1,1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,0
1020 EAST 1ST STREET,1,1,1,1,1,1,1,1,0,1,...,1,1,0,1,0,1,1,1,1,0
1585 BROADWAY,1,1,1,1,1,1,1,1,0,1,...,1,1,0,1,0,1,1,1,1,0
300,1,1,1,1,1,1,1,1,0,1,...,1,1,0,1,0,1,1,1,1,0
30071,1,1,1,1,1,1,1,1,0,1,...,1,1,0,1,0,1,1,1,1,0
316 WEST UNIVERSITY DRIVE,1,1,1,1,1,1,1,1,0,1,...,1,1,0,1,0,1,1,1,1,1
500,1,1,1,1,1,1,1,1,0,1,...,1,1,0,1,0,1,1,1,1,0
601,1,1,1,1,1,1,1,1,0,1,...,1,1,0,1,0,1,1,1,1,1
7TH FLOOR,1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,0
95112,1,1,1,1,1,1,1,1,0,1,...,1,1,0,1,0,1,1,1,1,0
ABBOTT PARK,64,64,64,64,64,64,64,64,0,64,...,64,64,0,61,0,64,64,64,64,4
ABERDEEN,101,101,101,101,101,101,101,101,1,101,...,101,101,83,101,0,101,101,101,101,0
ABILENE,19,19,19,19,19,19,19,19,5,19,...,19,19,0,9,0,19,19,19,19,1
ABINGDON,9,9,9,9,9,9,9,9,0,9,...,9,9,4,1,0,9,9,9,9,0
ABINGTON,9,9,9,9,9,9,9,9,0,9,...,9,9,0,0,0,9,9,9,9,1
ABSECON,1,1,1,1,1,1,1,1,0,1,...,1,1,0,1,0,1,1,1,1,0
ACCOMAC,1,1,1,1,1,1,1,1,0,1,...,1,1,0,1,0,1,1,1,1,0
ACTIB,1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,0
ACTON,176,176,176,176,176,176,176,176,0,176,...,176,176,139,8,0,176,176,176,176,39
ACWORTH,5,5,5,5,5,5,5,5,0,5,...,5,5,0,1,0,5,5,5,5,0
ADA,34,34,34,34,34,34,34,34,0,34,...,34,34,0,1,0,34,34,34,34,4
ADAIRVILLE,1,1,1,1,1,1,1,1,0,1,...,1,1,0,1,0,1,1,1,1,0
ADDISON,492,492,492,492,492,492,492,492,102,492,...,492,492,262,305,0,492,492,492,492,20
ADELPHI,2,2,2,2,2,2,2,2,0,2,...,2,2,0,1,0,2,2,2,2,0
ADRIAN,3,3,3,3,3,3,3,3,0,3,...,3,3,0,3,0,3,3,3,3,0
AGANA,1,1,1,1,1,1,1,1,0,1,...,1,1,0,1,0,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YAKIMA,28,28,28,28,28,28,28,28,9,28,...,28,28,0,5,0,28,28,28,28,1
YANKTON,2,2,2,2,2,2,2,2,0,2,...,2,2,0,2,0,2,2,2,2,0
YANTIS,2,2,2,2,2,2,2,2,0,2,...,2,2,0,0,0,2,2,2,2,0
YAPHANK,1,1,1,1,1,1,1,1,0,1,...,1,1,0,1,0,1,1,1,1,0
YARDLEY,11,11,11,11,11,11,11,11,1,11,...,11,11,0,4,0,11,11,11,11,1
YARMOUTH,23,23,23,23,23,23,23,23,0,23,...,23,23,0,0,0,23,23,23,23,0
YAZOO CITY,1,1,1,1,1,1,1,1,0,1,...,1,1,0,1,0,1,1,1,1,0
YELLOW SPRINGS,1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,0
YERINGTON,1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,0
YIGO,2,2,2,2,2,2,2,2,0,2,...,2,2,0,2,0,2,2,2,2,0
YONA,1,1,1,1,1,1,1,1,1,1,...,1,1,0,1,0,1,1,1,1,0
YONKERS,56,56,56,56,56,56,56,56,2,56,...,56,56,1,17,0,56,56,56,56,3
YORBA LINDA,9,9,9,9,9,9,9,9,3,9,...,9,9,0,6,0,9,9,9,9,0
YORK,44,44,44,44,44,44,44,44,20,44,...,44,44,0,27,0,44,44,44,44,5
YORKTOWN,2,2,2,2,2,2,2,2,1,2,...,2,2,0,2,0,2,2,2,2,0
YORKTOWN HEIGHTS,7,7,7,7,7,7,7,7,0,7,...,7,7,0,7,0,7,7,7,7,1
YOUNG HARRIS,1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,0
YOUNGSTOWN,15,15,15,15,15,15,15,15,0,15,...,15,15,0,6,0,15,15,15,15,0
YOUNGSVILLE,1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,0
YPSILANTI,48,48,48,48,48,48,48,48,0,48,...,48,48,39,47,0,48,48,48,48,0
YUBA CITY,6,6,6,6,6,6,6,6,0,6,...,6,6,0,2,0,6,6,6,6,0
YUCCA VALLEY,1,1,1,1,1,1,1,1,1,1,...,1,1,0,1,0,1,1,1,1,0
YUKON,1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,0
YUMA,31,31,31,31,31,31,31,31,0,31,...,31,31,0,10,0,31,31,31,31,2
ZACHARY,1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,0
ZEELAND,5,5,5,5,5,5,5,5,0,5,...,5,5,0,1,0,5,5,5,5,0
ZELIENOPLE,2,2,2,2,2,2,2,2,0,2,...,2,2,0,0,0,2,2,2,2,0
ZEPHYRHILLS,2,2,2,2,2,2,2,2,0,2,...,2,2,0,2,0,2,2,2,2,0
ZIONSVILLE,1,1,1,1,1,1,1,1,1,1,...,1,1,0,1,0,1,1,1,1,0
ZUNI,4,4,4,4,4,4,4,4,0,4,...,4,4,0,4,0,4,4,4,4,0

In [37]:
new_df=df[['CASE_NUMBER','CASE_STATUS','CASE_SUBMITTED','DECISION_DATE','EMPLOYMENT_END_DATE','EMPLOYMENT_END_DATE','EMPLOYER_NAME','EMPLOYER_CITY','EMPLOYER_STATE','JOB_TITLE','NAICS_CODE','TOTAL_WORKERS','FULL_TIME_POSITION','PREVAILING_WAGE','WORKSITE_STATE']]

In [38]:
new_df=new_df[new_df['PREVAILING_WAGE']>0]

In [39]:
len(new_df)

517324

In [48]:
new_df=new_df.dropna()

In [49]:
new_df.columns

Index(['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'EMPLOYMENT_END_DATE', 'EMPLOYMENT_END_DATE', 'EMPLOYER_NAME',
       'EMPLOYER_CITY', 'EMPLOYER_STATE', 'JOB_TITLE', 'NAICS_CODE',
       'TOTAL_WORKERS', 'FULL_TIME_POSITION', 'PREVAILING_WAGE',
       'WORKSITE_STATE'],
      dtype='object')

- Start with total H1B cases in 2017
- Show the Case status numbers
- Then see gegraphic distribution by states
- see how lon does it usually take to decide a case
- How often the positions are full time
- Which companies are H1B dependent - more than 15% workforce H1B
- Distribution of Prevailing wage by job type(NAICS CODE)
- is worksite state usually same as employer state

In [50]:
new_df.to_csv('H1B.csv')