In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('exercise2-olympics.csv')

In [12]:
grp_df=df.groupby(['Country','Year','Gender','Medal']).count()['City'].reset_index()

In [13]:
grp_df.head()

     Country  Year Gender   Medal  City
0  Australia  1994      M  Bronze     1
1  Australia  1998      W  Bronze     1
2  Australia  2002      M    Gold     1
3  Australia  2002      W    Gold     1
4  Australia  2006      M    Gold     1

In [17]:
grp_df.Country.unique()

array(['Australia', 'Austria', 'Belarus', 'Belgium', 'Bulgaria', 'Canada',
       'China', 'Croatia', 'Czech Republic', 'Czechoslovakia', 'Denmark',
       'East Germany', 'Estonia', 'Finland', 'France', 'Germany',
       'Hungary', 'Italy', 'Japan', 'Kazakhstan', 'Korea, North',
       'Korea, South', 'Latvia', 'Liechtenstein', 'Luxembourg',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Romania',
       'Russia', 'Slovakia', 'Slovenia', 'Soviet Union', 'Spain',
       'Sweden', 'Switzerland', 'Ukraine', 'Unified Team',
       'Unified Team of Germany', 'United Kingdom', 'United States',
       'Uzbekistan', 'West Germany', 'Yugoslavia'], dtype=object)

In [34]:
def get_medList(df):
    medLis=[]
    l=df.Medal.unique()
    if 'Gold' in l:
        medLis.append(df[df['Medal']=='Gold']['City'].values[0])
    else:
        medLis.append(0)
    if 'Silver' in l:
        medLis.append(df[df['Medal']=='Silver']['City'].values[0])
    else:
        medLis.append(0)
    if 'Bronze' in l:
        medLis.append(df[df['Medal']=='Bronze']['City'].values[0])
    else:
        medLis.append(0)
    return medLis

In [35]:
def get_medalCounts(df):
    medCountLis=[]
    for y in df.Year.unique():
        d={}
        d['Year']=y
        d['men']=get_medList(df[(df['Year']==y) & (df['Gender']=='M')])
        d['women']=get_medList(df[(df['Year']==y) & (df['Gender']=='F')])
        d['x']=get_medList(df[(df['Year']==y) & (df['Gender']=='X')])
        medCountLis.append(d)
    return medCountLis

In [45]:
def create_json(df):
    lis=[]
    for c in df.Country.unique():
        #print (c)
        d={}
        d['country']=c
        d['medalCounts']=get_medalCounts(df[df['Country']==c])
        if c in ['']
        lis.append(d)
    return lis

In [47]:
data_json=create_json(grp_df)

In [50]:
for i in range(len(data_json)):
    if i['country'] == 'Russia':

{'country': 'Australia',
 'medalCounts': [{'Year': 1994,
   'men': [0, 0, 1],
   'women': [0, 0, 0],
   'x': [0, 0, 0]},
  {'Year': 1998, 'men': [0, 0, 0], 'women': [0, 0, 0], 'x': [0, 0, 0]},
  {'Year': 2002, 'men': [1, 0, 0], 'women': [0, 0, 0], 'x': [0, 0, 0]},
  {'Year': 2006, 'men': [1, 0, 0], 'women': [0, 0, 0], 'x': [0, 0, 0]}]}