In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('exercise2-olympics.csv')

In [3]:
grp_df=df.groupby(['Country','Year','Gender','Medal']).count()['City'].reset_index()

In [4]:
grp_df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Country</th>
      <th>Year</th>
      <th>Gender</th>
      <th>Medal</th>
      <th>City</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Australia</td>
      <td>1994</td>
      <td>M</td>
      <td>Bronze</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Australia</td>
      <td>1998</td>
      <td>W</td>
      <td>Bronze</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Australia</td>
      <td>2002</td>
      <td>M</td>
      <td>Gold</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Australia</td>
      <td>2002</td>
      <td>W</td>
      <td>Gold</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Australia</td>
      <td>2006</td>
      <td>M</td>
      <td>Gold</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
grp_df.Country.unique()

array(['Australia', 'Austria', 'Belarus', 'Belgium', 'Bulgaria', 'Canada',
       'China', 'Croatia', 'Czech Republic', 'Czechoslovakia', 'Denmark',
       'East Germany', 'Estonia', 'Finland', 'France', 'Germany',
       'Hungary', 'Italy', 'Japan', 'Kazakhstan', 'Korea, North',
       'Korea, South', 'Latvia', 'Liechtenstein', 'Luxembourg',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Romania',
       'Russia', 'Slovakia', 'Slovenia', 'Soviet Union', 'Spain', 'Sweden',
       'Switzerland', 'Ukraine', 'Unified Team', 'Unified Team of Germany',
       'United Kingdom', 'United States', 'Uzbekistan', 'West Germany',
       'Yugoslavia'], dtype=object)

In [4]:
def get_medList(df):
    medLis=[]
    l=df.Medal.unique()
    if 'Gold' in l:
        medLis.append(df[df['Medal']=='Gold']['City'].values[0])
    else:
        medLis.append(0)
    if 'Silver' in l:
        medLis.append(df[df['Medal']=='Silver']['City'].values[0])
    else:
        medLis.append(0)
    if 'Bronze' in l:
        medLis.append(df[df['Medal']=='Bronze']['City'].values[0])
    else:
        medLis.append(0)
    return medLis

In [6]:
def get_medalCounts(df):
    medCountLis=[]
    for y in df.Year.unique():
        d={}
        d['Year']=y
        d['men']=get_medList(df[(df['Year']==y) & (df['Gender']=='M')])
        d['women']=get_medList(df[(df['Year']==y) & (df['Gender']=='W')])
        d['x']=get_medList(df[(df['Year']==y) & (df['Gender']=='X')])
        medCountLis.append(d)
    return medCountLis

In [8]:
def create_json(df):
    lis=[]
    for c in df.Country.unique():
        #print (c)
        d={}
        d['country']=c
        d['medalCounts']=get_medalCounts(df[df['Country']==c])
        #if c in ['']
        lis.append(d)
    return lis

In [9]:
data_json=create_json(grp_df)

In [10]:
for i in range(len(data_json)):
    if i['country'] == 'Russia':

SyntaxError: unexpected EOF while parsing (<ipython-input-10-831360963d48>, line 2)